* {
  box-sizing: border-box;
}

form{
  height: 450px;
  width: 300px;
}

#main__center__poster__left__form__tmdb_id{
  // opacity: 0;
}
#main__center__poster__left__form__review{
  width: 100%;
  height: 15%;
  margin-top: 40vh;
}

#poster_left_btn{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.main__center__poster__left__form{
  position: relative;
  width: 80%;
  height: 70%;
}
.main__center__poster__left__form img{
  position: absolute;
  top: 0;
  left: 0;
}

#submit_left{
  position: absolute;
  display: inline-block;
  bottom: 20%;
  right: 10%;
  z-index: 1;
  cursor        : pointer;
  border        : 2px solid #000066;
  opacity: 0.5;
}
#submit_right{
  border: 2px solid white;
}

.main{
  background-image: url("top.jpg");
  height: 100vh;
  background-size: cover;
  &__center{
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    &__poster{
      &__btn{
        padding: 45vh 0;
        height: 1.2em;
      }
      &__left{
        position: relative;
        height: 100%;
        width: 30%;
        border: 1px solid black;
        &__info{
          border: 1px solid black;
          height: 15vh;
          width: 35%;
          position: absolute;
          right: 10%;
          top: 25%;
          &-title{
            font-size: 2em;
          }

        }
        &__review{
        }
        &__form{
          width: 300px;
          height: 450px;
        }
        &__image{
          width: 300px;
          height: 440px;
          cursor: pointer;
          text-align: center;
        }
        &__name{
          font-size: 1em;
          width: 100%;
          color: white;
          font-family: 'Solway', serif;
          text-align: center;
          margin-top: 20px;
        }
      }
      &__right{
        position: relative;
        &__image{
          width: 300px;
          height: 440px;
          cursor: pointer;
          text-align: center;
        }
        &__name{
          font-size: 1em;
          width: 100%;
          color: white;
          font-family: 'Solway', serif;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}













// btn action animation
.btn-three {
	color: #FFF;
	transition: all 0.5s;
  position: relative;
  width: 150px;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
}
.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}